* {
    font-family: 'Raleway', sans-serif;
}

p {
    text-align: center;
    font-size: 4vw;
    top: 80px;
    position: relative;
}

h1 {
    position: absolute;
    left: 80px;
    top: -4vh;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 4vw;
    left: 6vw;
}