// extern
@use "sass:math";
// variables
$line_width : 3vmin;
$line_length : $line_width*5;
$desktop_position : 8;

// scss
.close_btn {
    left: 1vw*$desktop_position;
    top: 1vh*$desktop_position;
    position: fixed;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 7;

    @media screen and (max-width: 600px) and (orientation: portrait) {
        $temp_translate_length: math.hypot(($line_width)*3, ($line_width)*3);
        transform: translateX(-$temp_translate_length) rotate(45deg);
        left: 50vw;
        top: 2vh;
    }

    >:first-child {
        transform: rotate(90deg);
    }

    >div {
        position: inherit;
        background-color: white;
        padding: 0;
        margin: 0;
        width: $line_width;
        height: $line_length;
        z-index: 7;

        @media screen and (max-width: 600px) and (orientation: portrait) {
            width: $line_width*3;
            height: $line_length*3;
        }
    }
}