// extern
@use "sass:math";
// variables
$line_width : 1.5vmin;
$line_length : $line_width*5;
$desktop_position : 4;

// scss
.close_btn {
    left: 1vmin*$desktop_position;
    top: 1vmin*$desktop_position;
    position: fixed;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 7;

    @media screen and (max-width: 600px) and (orientation: portrait) {
        left: initial;
        top: 2vh;
        right: 10vw;
    }

    >:first-child {
        transform: rotate(90deg);
    }

    >div {
        position: inherit;
        background-color: white;
        padding: 0;
        margin: 0;
        width: $line_width;
        height: $line_length;
        z-index: 7;

        @media screen and (max-width: 600px) and (orientation: portrait) {
            width: $line_width;
            height: $line_length;
        }
    }
}