// variables
$line_width : 2vmin;
$line_length : $line_width*5;
$desktop_position : 1vmin;
// scss
.close_btn {
    left: $desktop_position;
    right: $desktop_position;
    position: fixed;
    transform: rotate(45deg);

    >:first-child {
        transform: rotate(90deg);
    }

    >div {
        position: inherit;
        background-color: white;
        padding: 0;
        margin: 0;
        width: $line_width;
        height: $line_length;
    }
}