.filter_btn {
    $dimension: 10vmin;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: $dimension;
    height: $dimension;
    border-color: black;
    border-width: $dimension/10;
    background-color: white;

    img {
        width: $dimension;
        height: $dimension;
    }
}