// scss
.filter_btn {
    $dimension: 15vmin;
    position: fixed;
    bottom: $dimension/5;
    right: $dimension/5;
    border-radius: 50%;
    width: $dimension;
    height: $dimension;
    border-color: black;
    border-width: $dimension/15;
    background-color: white;
    border-style: solid;
    box-sizing: content-box;

    &:hover {
        background-color: gray;
        border-style: groove;
    }

    img {
        box-sizing: inherit;
        width: $dimension;
        height: $dimension;
    }
}