.filter_btn {
    $dimension: 20vmin;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: $dimension;
    height: $dimension;
    border-color: black;
    border-width: $dimension/10;
    background-color: white;
    border-style: solid;
    box-sizing: content-box;

    img {
        box-sizing: inherit;
        width: $dimension;
        height: $dimension;
    }
}