// import variables
@use '../pages/home';
// scss
#header {
    width: 100vw;
    height: home.$header_height;
    margin: 0;
    z-index: 2;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);

    @media screen and (orientation: portrait) {
        top: 102px;
    }

    h2 {
        font-weight: 200;
        display: block;
        text-align: center;
        z-index: inherit;
        margin: inherit;
        position: inherit;
        transform: translateY(-50%);
        top: home.$header_height/2;
        font-size: 7vmax;
    }
}