// import files
@use '../global/variables';

// scss
#header {
    width: 100vw;
    height: variables.$header_height;
    margin: 0;
    z-index: 2;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);

    h2 {
        font-weight: 100;
        display: block;
        text-align: center;
        z-index: inherit;
        margin: inherit;
        position: inherit;
        transform: translateY(-50%);
        top: variables.$header_height/2;
        font-size: 5vmax;
        color: white;

        #mobile_headers_heeb {
            display: none;
        }

        #mobile_header_photography {
            display: none;
        }
    }

    @media screen and (max-width: 600px) {
        // top: variables.$bar_unit*24*3 + variables.$bar_unit*variables.$height_multiplier*3;
        // $new_header_height: variables.$header_height/2;
        // height: $new_header_height;

        // h2 {
        //     top: $new_header_height/2;
        // }

        height: variables.$bar_unit*24*3 + variables.$bar_unit*variables.$height_multiplier*3;

        h2 {
            top: (variables.$bar_unit*24*3 + variables.$bar_unit*variables.$height_multiplier*3)/2;
            position: fixed;
            display: inline-block;
            width: auto;
            font-size: 7vw;
        }

        #desktop_header {
            display: none;
        }

        #mobile_headers_heeb {
            left: 0;
        }

        #mobile_header_photography {
            right: 0;
        }
    }
}