// scss for about me page
// adding files
// scss
#work_in_progress_bar {
    display: none;
    position: fixed;
    height: 30vh;
    width: 100vw;
    z-index: 2;
    background-color: black;
    opacity: 0.8;
    font-size: 10vw;
    text-align: center;
    top: 50vh;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color: white;

    div {
        position: fixed;
        width: 100vw;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        z-index: 3;
        color: white;
        font-size: 10vw;
        text-align: center;
    }
}