// scss for about me page
// adding files
// scss
#work_in_progress_bar {
    position: fixed;
    height: 30vh;
    width: 100vw;
    z-index: 3;
    background-color: black;
    opacity: 0.8;
    font-size: 5vw;
    text-align: center;
}