<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/main.css">
        <title>Testing | Wildlifephotography Andreas Heeb</title>
    </head>

    <body>
        <div class="arrow_btn"></div>
        <div class="close_btn" style="left: 10vw; top: 10vh;">
            <div></div>
            <div></div>
        </div>

        <div class="arrow_btn">
            
        </div>
    </body>

</html>