// scss for about me page
// adding files
// scss
#about_me {
    margin: 0;
    overflow: hidden; // off for now, can change if new text

    * {
        user-select: text;
    }

    #p_about_me {
        text-align: center;
        font-size: 7.3vmin;
        position: relative;

        br {
            @media screen and (max-width: 600px) and (orientation: portrait) {
                margin-bottom: 6vmin;
            }
        }
    }
}