// scss for the contact formular page
// adding files
// scss
#contact_form {
    #mail_status {
        display: none;

        p {
            display: inherit;
        }

        #loading_gif {
            display: inherit;
        }

        #green_check {
            display: none;
        }

        #red_x {
            display: none;
        }
    }
}