// scss for the contact formular page
// adding files
// scss
#contact_form {
    .email {
        display: none;
    }
    .phone {
        display: none;
    }
    .instagram {
        display: none;
    }
    .custom_subject {
        display: none;
    }
    #mail_status {
        display: none;
        p {
            display: inherit;
        }
        img {
            display: inherit;
        }
    }
}
