// scss file for the gallery page
// adding files
@use "../classes/colors";

// scss
#gallery {
    margin: 0;
    padding: 0;

    #all_rows {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        justify-content: space-around;

        >div {
            flex: 25%;
            max-width: 24%;
            padding: 0 4px;

            @media screen and (max-width: 800px) {
                // two images for tablets/smaller computers
                flex: 50%;
                max-width: 48%;
                padding: 0 4px;
            }

            @media screen and (max-width: 600px) {
                // one image for smartphones
                flex: 100%;
                max-width: 96%;
                padding: 0 4px;
            }
        }
    }

    .image {
        vertical-align: middle;
        width: 100%;
        margin-top: 8px;
        cursor: pointer;
        user-select: none;
    }

    .arrows_background {
        height: 100%;
        position: fixed;
        z-index: 4;

        &:hover {
            .arrow_btn {
                transition-delay: 0s;
                visibility: visible;
                z-index: 7;
            }
        }
    }

    #slideshow_background {
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        position: fixed;
        background-color: black;
        display: none;
        z-index: 6;
    }

    #slideshow {
        z-index: 5;
        position: fixed;
        display: none;

        >img {
            object-fit: contain;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 88vw;
            max-height: 95vh;
            z-index: 6;
        }
    }

    #filter_menu {
        $dimension_factor: 90;
        display: none;
        position: fixed;
        z-index: 6;
        width: 1vw*$dimension_factor;
        height: 1vh*$dimension_factor;
        left: (100 - $dimension_factor)/2*1vw;
        top: (100 - $dimension_factor)/2*1vh;
        box-sizing: content-box;
        margin: 0;
        padding: 0;
        border-width: (100 - $dimension_factor)2*1vmax;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.25);
        background-color: white;

        form {
            z-index: inherit;
        }
    }
}