// scss file for the gallery page
// adding files
@use "../classes/colors";
// scss
#gallery {
    margin: 0;
    padding: 0;
    > div {
        &:first-of-type {
            > div {
                display: flex;
                flex-wrap: wrap;
                padding: 0 4px;
                justify-content: space-around;
                > div {
                    flex: 25%;
                    max-width: 24%;
                    padding: 0 4px;
                    @media screen and (max-width: 800px) {
                        // two images for tablets/smaller computers
                        flex: 50%;
                        max-width: 48%;
                        padding: 0 4px;
                    }
                    @media screen and (max-width: 600px) {
                        // one image for smartphones
                        flex: 100%;
                        max-width: 96%;
                        padding: 0 4px;
                    }
                    > .image {
                        vertical-align: middle;
                        width: 100%;
                        margin-top: 8px;
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }
        }
    }
    #slideshow_background {
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        position: fixed;
        background-color: black;
        display: none;
        z-index: 4;
        > #slideshow {
            z-index: 5;
            position: fixed;
            display: none;
            > img {
                object-fit: contain;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 90%;
                max-height: 90%;
            }
            > div {
                &:first-of-type {
                    left: 0;
                }
                &:nth-of-type(2) {
                    right: 0;
                }
                > .arrows {
                    font-size: 10vmax;
                    padding: 1vmax 4.5vmax;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    z-index: 5;
                    color: white;
                    position: relative;
                    text-align: center;
                    font-family: Verdana, sans-serif;
                    white-space: normal;
                    user-select: none;
                    cursor: pointer;
                    border: none;
                    display: none;
                    vertical-align: middle;
                    overflow: hidden;
                    text-decoration: none;
                    -webkit-appearance: button;
                    -moz-appearance: button;
                    text-transform: none;
                    margin: 0;
                    box-sizing: inherit;
                    &:hover {
                        border-radius: 50%;
                        background-color: colors.$soft_grey;
                        transition: 0.4;
                    }
                }
                &:last-child {
                    top: 10%;
                    left: 2.5%;
                    cursor: pointer;
                    position: fixed;
                    transform: rotate(45deg);
                    z-index: 6;
                    > div {
                        > div {
                            background-color: white;
                            $width: 7vmax;
                            width: $width;
                            height: $width/7;
                            &:nth-child(2) {
                                transform: translateY(-1vmax) rotate(90deg);
                            }
                        }
                    }
                }
            }
            > .arrows_background {
                height: 100%;
                position: fixed;
                z-index: 4;
                &:hover {
                    > .arrows {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
