@charset "UTF-8";
//adding files

// scss
#english {
    header {
        h2 {
            font-style: inherit;
            width: 100%;
            height: 100px;
            display: block;
            text-align: center;
            margin: 0;
        }
    }
    .container_slideshow {
        margin: auto;
        width: 100vw;
        height: 75vh;
        display: block;
        align-items: baseline;
        position: relative;
    }
    .slide {
        img {
            display: none;
        }
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
}
