//adding files
@use "../classes/shortcuts";

// variables
$header_height:20vh;

// scss
#english {
    margin: 0;

    header {
        width: 100vw;
        height: $header_height;
        margin: 0;
        z-index: 2;
        position: relative;
        background-color: white;

        @media screen and (orientation: portrait) {
            top: 102px;
        }

        h2 {
            font-weight: 200;
            display: block;
            text-align: center;
            z-index: inherit;
            margin: inherit;
            position: inherit;
            transform: translateY(-50%);
            top: $header_height/2;
            font-size: 7vmax;
        }
    }

    #first_slide {
        opacity: 1;
        z-index: 0;
    }

    #profile {
        position: absolute;
        z-index: 3;
        bottom: $header_height + 10vh;
        right: 10vw;
        width: 30vw;
        height: 40vh;
        background-color: rgb(0, 0, 0, 0.9);
        color: white;
        font-size: 3vmin;

        img {
            z-index: 4;
            position: relative;
            max-width: 10vw;
            max-height: 10vh;
            right: 0;
            display: inline-block;
            float: left;
            margin: 1vmin 1vmin;
        }
    }

    .slides {
        bottom: 0;
        left: 0;
        height: 100vh - $header_height;
        width: 100vw;
        display: block;
        position: absolute;
        opacity: 0;
        transition-duration: 1s;
        transition-property: opacity;
        z-index: 0;

        @media screen and (orientation: portrait) {
            display: none;
        }
    }

    :first-of-type(.slide) {
        opacity: 1;
        z-index: 0;
    }

    .fade {
        @include shortcuts.fade(1.5s);
    }
}