//adding files
@use "../classes/shortcuts";
// variables
// scss
#english {
    header {
        h2 {
            font-weight: 200;
            width: 100vw;
            height: 25vh;
            display: block;
            text-align: center;
            margin: 0;
        }
    }

    #first_slide {
        opacity: 1;
        z-index: 0;
    }

    .image-crop {
        max-width: 100vh;
        height: 100vh;
        text-indent: 50%;
        margin-top: -50%;
    }

    .slides {
        top: 0;
        left: 0;
        height: inherit;
        height: 100vh;
        width: 100vw;
        display: block;
        position: absolute;
        opacity: 0;
        transition-duration: 1s;
        transition-property: opacity;
        z-index: 0;
    }

    :first-of-type(.slide) {
        opacity: 1;
        z-index: 0;
    }

    .fade {
        @include shortcuts.fade(1.5s);
    }
}