//adding files
@use '../global/variables';
// variables
$article_height : 100vh;
$article_width : 100vw;
$text_font_size_desktop : 3vw;
$text_font_size_mobile : 2vh;

// scss
#impressum {

    #contact_address {
        p:first-of-type {
            margin-top: 0;
        }
    }

    section {
        position: relative;

        @media screen and (max-width: 600px) {
            top: 102px;
        }
    }

    scrollbar-width: none;
    margin-left: 0;

    * {
        text-align: center;
        font-size: $text_font_size_desktop;
        user-select: text;
    }

    article {
        height: $article_height;
        width: $article_width;
    }

    .title {
        font-weight: 200;
        font-size: $text_font_size_desktop * 1.5;
        text-decoration: underline;
        background: white;
        position: sticky;
        top: 0;
        width: 100vw;

        @media screen and (orientation: portrait) {
            height: variables.$header_height;
        }
    }

    @media screen and (max-width: 600px) {
        * {
            font-size: $text_font_size_mobile;
        }

        .title {
            font-size: $text_font_size_mobile * 1.5;
        }
    }
}