//adding files
// variables
$article_height : 100vh;
$article_width : 100vw;
$text_font_size : 3vw;
// scss
#impressum {
    overflow: hidden;
    margin-left: 0;
    * {
        text-align: center;
        font-size: $text_font_size;
    }

    article {
        height: $article_height;
        width: $article_width;
    }

    .title {
        font-weight: 200;
        font-size: $text_font_size * 1.5;
    }
}