// css for heebphotography.ch
// import files
@use '../classes/colors';
@use '../classes/backgrounds';
// variables
$text_top: 50%;
// scss
#language {
    ul {
        list-style-type: none;
        li {
            a {
                position: absolute;
                font-size: 12vw;
                transform: translate(-50%, -50%);
                z-index: 5;
            }
            #background_english {
                @include backgrounds.simple_background(false);
                width: 50%;
            }
            #background_deutsch {
                @include backgrounds.simple_background(false);
                width: 50%;
                left: 50%;
            }
            #english {
                left: 25%;
                top: $text_top;
                &:hover {
                    + #background_english {
                        @include backgrounds.simple_background(true);
                    }
                }
            }
            #deutsch {
                left: 75%;
                top: $text_top;
                &:hover {
                    + #background_deutsch {
                        @include backgrounds.simple_background(true);
                    }
                }
            }
        }
    }
}
