// for small functions that make my life easier
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin fade($property) {
  -webkit-animation-name: fade;
  -webkit-animation-duration: $property;
  animation-name: fade;
  animation-duration: $property;
}