ul {
    list-style-type: none;
}

/* li {
    position: relative;
    top: 50%;
    left: 50%;
} */

a:hover {
    color: black;
    text-decoration: none;
}

a:checked {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 1000%;
    width: 50%;
    height: 50%;
}

#english {
    /* left: 25%;
    top: 50%; */
}

#deutsch {
    /* right: 25%;
    top: 50%; */
}