ul {
    list-style-type: none;
}

/* li {
    position: relative;
    top: 50%;
    left: 50%;
} */

a:hover {
    color: black;
    background-color: green;
    text-decoration: none;
}
#english:hover ~ #background_english {
    background-color: green;
}

#deutsch:hover ~ #background_deutsch {
    background-color: green;
}
a:checked {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 1000%;
    /* display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 0%; */
    transform: translate(-50%, -50%);
    z-index: 5;
}

#english {
    left: 25%;
    top: 50%;
}

#deutsch {
    left: 75%;
    top: 50%;
}

#background_english {
    position: fixed;
    background-color: white;
    width: 50%;
    height: 100%;
    z-index: 0;
    top: 0%;
    left: 0%;
}
#background_deutsch {
    position: fixed;
    background-color: white;
    width: 50%;
    height: 100%;
    z-index: 0;
    top: 0%;
    left: 50%;
}