@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
#language ul {
  list-style-type: none;
}
#language ul li a {
  position: absolute;
  font-size: 12vw;
  transform: translate(-50%, -50%);
  z-index: 5;
}
#language ul li #background_english {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0%;
  left: 0%;
  width: 50%;
}
#language ul li #background_deutsch {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0%;
  left: 0%;
  width: 50%;
  left: 50%;
}
#language ul li #english {
  left: 25%;
  top: 50%;
}
#language ul li #english:hover + #background_english {
  background-color: #c8c8c8;
  color: black;
  text-decoration: none;
}
#language ul li #deutsch {
  left: 75%;
  top: 50%;
}
#language ul li #deutsch:hover + #background_deutsch {
  background-color: #c8c8c8;
  color: black;
  text-decoration: none;
}

#english header h2 {
  width: 100%;
  height: 100px;
  display: block;
  text-align: center;
  margin: 0;
}
#english .container_slideshow {
  margin: auto;
  width: 100vw;
  height: 75vh;
  display: block;
  align-items: baseline;
  position: relative;
}
#english .slide img {
  width: 100vw;
  height: auto;
}

#navigationbar #navigation_button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  transition: 0.8s;
  position: fixed;
  cursor: pointer;
  top: 1%;
  left: 1%;
  z-index: 4;
}
@media screen and (max-width: 600px) {
  #navigationbar #navigation_button {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50px;
  }
}
#navigationbar #navigation_button div {
  box-sizing: content-box;
  width: 70px;
  height: 10px;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 16px;
  margin-left: 16px;
  transition-duration: 0.8s;
  text-align: center;
  border: 1px white solid;
}
#navigationbar #navigation_button .bar1 {
  margin-top: 24px;
}
#navigationbar #navigation_button .bar3 {
  margin-bottom: 24px;
}
#navigationbar .change .bar1 {
  transform: rotate(-45deg) translate(-19px, 13px);
}
#navigationbar .change .bar2 {
  opacity: 0;
}
#navigationbar .change .bar3 {
  transform: rotate(45deg) translate(-17px, -17px);
}
#navigationbar .change div {
  box-sizing: content-box;
  width: 70px;
  height: 10px;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 16px;
  margin-left: 16px;
  transition-duration: 0.8s;
  text-align: center;
  border: 1px white solid;
  background-color: white;
  border: none;
  width: 72px;
  height: 12px;
}
#navigationbar #navigation-overlay {
  height: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  transition: height 0.8s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#navigationbar #navigation-overlay #navigation-content {
  top: 50%;
  width: 100%;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
}
#navigationbar #navigation-overlay #navigation-content .links {
  display: block;
  color: white;
  font-size: 10vh;
}
#navigationbar #navigation-overlay #navigation-content .links:hover {
  background-color: #aaa;
  opacity: 0.7;
  transition-duration: 0.4s;
}

* {
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 69px;
}

a {
  text-decoration: none;
  color: black;
  list-style-type: none;
}
ahover {
  color: black;
}
a:checked {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=main.css.map */
