/* Error: Undefined operation "10 2 * 1vmax".
 *     ,
 * 102 |         border: ((100 - $dimension_factor)2)*1vmax solid rgba(255, 255, 255, 0.25);
 *     |                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   c:\website-andi\heebphotography.ch\public\scss\pages\_gallery.scss 102:17  @use
 *   c:\website-andi\heebphotography.ch\public\scss\main.scss 16:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "10 2 * 1vmax".\a     \2577 \a 102 \2502          border: ((100 - $dimension_factor)2)*1vmax solid rgba(255, 255, 255, 0.25);\d\a     \2502                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   c:\\website-andi\\heebphotography.ch\\public\\scss\\pages\\_gallery.scss 102:17  @use\a   c:\\website-andi\\heebphotography.ch\\public\\scss\\main.scss 16:1              root stylesheet';
}
