@charset "UTF-8";

/*Allgemein*/

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
    font-size: 14px;
}

/*Header*/
header h2 {
    font-size: 66px;
    padding-left: 50px;
}

/*Navigation*/


/*Bilder*/


/*Fusszeile*/
footer {
    height: 50px;
    display: flex;
    align-items: center;
}

/*Gallerie*/

@media only screen and (max-width: 600px) {
    
}