@charset "UTF-8";

/*Allgemein*/

* {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 14px;
}

/*Header*/
header h2 {
    display: flex;
    font-size: 100px;
    margin-left: 154px;
}

/*Navigation*/


/*Bilder*/


/*Fusszeile*/
footer {
    height: 50px;
    display: flex;
    align-items: center;
}

/*Gallerie*/

@media only screen and (max-width: 600px) {
    
}