/* background of the navigation element */
#navigation-overlay {
  height: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  transition: height 0.8s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* the navigation element */
#navigation-content {
  top: 50%;
  width: 100%;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
}

/* styling for the links to the other pages */
.links {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 10vh;
  list-style-type: none;
}

.links:hover {
  background-color: #aaa;
  color: black;
  opacity: 0.7;
  transition-duration: 0.4s;
}

/* everything here is for the navigation button */
#navigation_button { 
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  top: 1%;
  left: 1%;
  z-index: 4;
}

.bar1,
.bar2,
.bar3 {
  width: 70px;
  height: 10px;
  background-color: black;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 16px;
  margin-left: 16px;
  transition: 0.8s;
  text-align: center;
}

.bar1 {
  margin-top: 24px;
}

.bar3 {
  margin-bottom: 24px;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-18px, 12px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-16px, -16px);
}

@media screen and (max-width: 600px) {
  #navigation_button {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50px;
  }
}

* {
    font-family: 'Raleway', sans-serif;
}