// color, text-decoration, bold, italic
// import files
// scss
a {
    text-decoration: none;
    color: black;
    list-style-type: none;
    &hover{
        color: black;
    }
    &:checked {
        text-decoration: none;
        color: black;
    }
}
