// position, size, etc.
* {
    box-sizing: border-box;
    scrollbar-width: none;
}

footer {
    height: 50px;
    display: flex;
    align-items: baseline;
}

footer p {
    font-size: 13px;
    padding-bottom: 10px;
    padding-left: 10px;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 85px;
}

textarea {
    resize: none;
}