// position, size, etc.
* {
    box-sizing: border-box;
    scrollbar-width: none;
}

footer {
    height: 50px;
    position: relative;
    bottom: 0;
    padding-right: 0.5vw;
    padding-bottom: 0.5vh;
}

footer p {
    font-size: 3vmin;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 85px;
}

textarea {
    resize: none;
}