/* .image {
    max-width: 200px;
    max-height: 400px;
    min-width: 50px;
    min-height: 100px;
    position: relative;
    height: 24vw;
    width: auto;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    margin-top: 0.2vw;
    max-height: 100vh;
    padding-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
}

.image {
    vertical-align: middle;
    /* margin-top: 8px; */
    width: 100%;
    margin-top: 0.4vh;
}