.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-around;
}

.column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
}

.image {
    vertical-align: middle;
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

/* two images for tablets/smaller computers */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 48%;
        padding: 0 4px;
    }
}

/* one image for smartphones */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 96%;
        padding: 0 4px;
    }
}

#slideshow_background {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    position: fixed;
    background-color: black;
    display: none;
    z-index: 4;
}

#slideshow {
    z-index: 5;
    position: fixed;
    display: none;
}


#slideshow img {
    object-fit: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

#close_btn {
    top: 10%;
    left: 2.5%;
    cursor: pointer;
    position: fixed;
    transform: rotate(45deg);
    z-index: 6;
}

#pline_1 {
    background-color: white;
    width: 7vmax;
    height: 1vmax;
}

#pline_2 {
    background-color: white;
    width: 7vmax;
    height: 1vmax;
    transform: translateY(-1vmax) rotate(90deg);
}

.arrows {
    font-size: 10vmax;
    padding: 1vmax 4.5vmax;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 5;
    color: white;
    position: relative;
    text-align: center;
    font-family: Verdana,sans-serif;
    white-space: normal;
    user-select: none;
    cursor: pointer;
    border: none;
    display: none;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-transform: none;
    margin: 0;
    box-sizing: inherit;
}

#last_picture {
}

#next_picture {
}

.arrows_background {
    height: 100%;
    position: fixed;
    z-index: 4;
}

.arrows_background:hover .arrows{
    display: inline-block;
}

.arrows:hover {
    border-radius: 100%;
    background-color: gray;
}

#last_picture_background {
    left: 0;
}

#next_picture_background {
    right: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}