.image {
    /* max-width: 200px;
    max-height: 400px;
    min-width: 50px;
    min-height: 100px; */
    position: relative;
    width: 23vw;
    height: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vw;
    max-height: 100vh;
    padding-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
}